body {
    min-height: 100vh;
    position: relative;
    background-color: #FAECE1;
    font-family: "Roboto Condensed", sans-serif;
}
#chat-container {
    height: calc(90vh - 200px);
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px;
    border-radius: 20px;
}

#message-input {
    width: calc(100% - 80px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

#send-button {
    padding: 10px;
    border: 0px solid #00b3ff;
    border-radius: 20px;
    background-color: #fff;
    color: #fff;
    cursor: pointer;
}

#send-button:hover{
    border: 1px solid #00b3ff;
}