:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #FAECE1;
    font-family: "Roboto Condensed", sans-serif;
}

.invisible-table {
    margin: 0 0 0 10%;
}
  .invisible-table td {
            padding: 8px;
            text-align: center;
}

.image-container {
    display: none;
    position: fixed;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

#selectedImageContainer .cerrar-icono {
            position: absolute;
            top: 0%;
            left: 0%;
            cursor: pointer;
        }
#selectedImageContainer .cerrar-icono:hover {
   color: red;
}

 .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
            padding: 20px;
            z-index: 1000;
}

.popup input {
    margin-bottom: 10px;
}

#selectedImageContainer .popup button {
    width:100%;
    border:none;
    background:#2EDA2D;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
    border-radius: 10px;
}
#selectedImageContainer .popup button:hover {
    background:#00A809;
}

#selectedImageContainer .llenar1{
    cursor:pointer;
	width:20%;
	border:none;
	background:#48DAFF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
        border-radius: 10px;
         position: absolute;
            top: 78%;
            left: 66%;
       
}
#selectedImageContainer .llenar1:hover{
    background:#09C;
}
